body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.login-container{
    background-color: aquamarine;
    width: 552px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

}

form{
    display: flex;
    align-items: center;

}
input,button{
    width: 100px;
    height: 40px;
    align-items: center;
    border: 0;
    background-color: rgb(212, 255, 241);
    margin: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 16x;
}
button{
    background-color: rgb(68, 211, 163);
}
button:hover{
    background-color: rgb(212, 255, 241);
    cursor: pointer;
}
h1{
    color: aquamarine;
    font-weight: bold;
    font-size: 100px;
    margin: 0;
}
.wrong{
    display: none;
}

.offcanvas-btn {
    z-index: 100000;
    position: fixed;
    top: 90%;
    left: 3%;
    height: 50px;
    width: 50px;
  
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 0;
    transition: all 0.3s ease;
  }
  
  #contact-img{
    width: 80px;
    transform: rotate(0deg);
    transition: 1s;
  }
  
  #contact-img:hover{
    width: 100px;
    transform: rotate(10deg);
  
  }
  